@model Cliente



    <div>
        <img src="~/imagens/2.PNG" />
        <br /><br /><br /><br />
        <h2>Preencha o seus dados: </h2>
        <br />
    </div>

@using (Html.BeginForm("Add", "Cliente", FormMethod.Post))
{

    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Nome: </label>
        <div class="col-sm-11">
            @Html.TextBoxFor(a => a.Segurado.Nome, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Telefone: </label>
        <div class="col-sm-11">
            @Html.TextBoxFor(a => a.Segurado.Telefone, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Email: </label>
        <div class="col-sm-11">
            @Html.TextBoxFor(a => a.Segurado.Email, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <h3>Veículo</h3>
    <br />
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Marca: </label>
        <div class="col-sm-11">
            @Html.TextBoxFor(a => a.Veiculo.Marca, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Modelo: </label>
        <div class="col-sm-11">
            @Html.TextBoxFor(a => a.Veiculo.Modelo, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Ano: </label>
        <div class="col-sm-11">
            @Html.TextBoxFor(a => a.Veiculo.Ano, new { @class = "form-control" })
        </div>
    </div>
    <div>Deseja enviar os seus dados para o Corretor neste momento?</div>
    <div class="col-sm-10">
        <div class="form-check">
            <div>
                @Html.RadioButtonFor(model => model.EnviarFormulario, "Sim", new { @class = "form-check-input" })
                <label class="form-check-label">
                    Sim
                </label>
            </div>

            <div>
                @Html.RadioButtonFor(model => model.EnviarFormulario, "Não", new { @class = "form-check-input" })
                <label class="form-check-label">
                    Não
                </label>
            </div>
        </div>
   </div>

    <div class="form-group row " style="float:right">
        <div class="col-sm-10">
            <input type="submit" class="btn btn-primary" value="Enviar" />
        </div>
    </div>
}

