@model Cliente

@{
    ViewData["Title"] = "Cliente";
}

<h1>Cliente</h1>

@using (Html.BeginForm("Add", "Cliente", FormMethod.Post))
{

    <div>Nome: @Html.TextBoxFor(a => a.Segurado.Nome)</div>

    <div>Telefone: @Html.TextBoxFor(a => a.Segurado.Telefone)</div>

    <div>Email: @Html.TextBoxFor(a => a.Segurado.Email)</div>

    <div>Veículo</div>
    <div>Marca: @Html.TextBoxFor(a => a.Veiculo.Marca)</div>

    <div>Modelo: @Html.TextBoxFor(a => a.Veiculo.Modelo)</div>

    <div>Ano: @Html.TextBoxFor(a => a.Veiculo.Ano)</div>

    <div>Deseja enviar os seus dados para o Corretor neste momento?</div>

    @Html.RadioButtonFor(model => model.EnviarFormulario, "Sim")

    @Html.RadioButtonFor(model => model.EnviarFormulario, "Não")


    <input type="submit" value="Add" />
}

